{% extends 'base.html' %}

{% block content %}
    <div class="contenedor">
        <ul class="menu-principal">
            <li class="color1"><a href='/faq/'>
                <span class="icono icono-quees"></span>
                <span class="texto">¿Que es Coindear?</span>
            </a></li>
            
            <li class="color2"><a href='/calendario/'>
                <span class="icono icono-agenda"></span>
                <span class="texto">Agenda</span>
            </a></li>
            
            <li class="color3"><a href='/inscribir/'>
                <span class="icono icono-biblioteca"></span>
                <span class="texto">Inscribite</span>
            </a></li>

            <li class="color4">
                <a href='http://www.turismo.jujuy.gob.ar/alojamientos/' target="_blank">
                    <span class="icono icono-hospedaje"></span>
                    <span class="texto">Donde Hospedarte?</span>
                </a>
            </li>
        </ul>
    </div>
    <br>
{% endblock %}

